
body{
    position: absolute;
    overflow-x: hidden;
    margin: 0px;
    padding: 0;
    background-color:rgb(19, 19, 19);
}
.top{

    display: flex;
    position: sticky;
    top:0;
    justify-content: center;
    width:100vw;
    height:100vh;
    border:none;
    margin: 0;
}

.top img{
    position: absolute;
    margin: 0;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;

}

.top p{
    margin: auto;
    font-size: 20vmin;
    color:white;
    text-shadow: 0 4px 10px rgba(255, 255, 255, 0.589);
    z-index: 100;
}

.gridbox{
    display: flex;
    justify-content: center;
}

.goal{
    color:white;
    margin-left:15vw;
    margin-right:15vw;
}

.person{
    display: grid;
    grid-template-columns: 30vw 30vw;
    justify-items: right;
    gap: 10vw;
}

.person img{
    width: 100%;
}

.person p{
    text-align: center;
    color: white;
}

.wrapper{
    margin-top: 0;
    z-index:20;
    background-color: rgb(19, 19, 19);
    position: sticky;
    height: 100vh;
    padding-top:8vh;
    padding-bottom:2vh;
}
.person div{
    overflow: hidden;
}

.K ,.S {
    animation: appear linear forwards;
    animation-timeline: view();
    animation-range: entry-crossing;
}

@keyframes appear {
    from {scale:0.8;opacity:0.2;}
    to {scale:1;opacity:1;}
}

.topbar{
    height:100vh;
    width:1vw;
    position:fixed;
    top:0;
    left:0;
    background-color:aquamarine;
    z-index: 400;
    transform-origin: 0 0;
    animation: bar linear;
    animation-timeline:scroll(y);
}

@keyframes bar {
    from{scale: 1 0}
    to{scale: 1 1}
}