*{
    text-decoration: none;
}
body{
    margin:none;
}
.box{
    display: flex;
    justify-content: center;
}
.navbar{
    margin:0;
    padding:0;
    list-style:none;
    /*display: flex;
    justify-content: center;*/
    position:fixed;
    top:2vh;
    overflow: hidden;
    width: fit-content;
    border: 2px black solid;
    border-radius: 100vh;
    z-index: 100;
    backdrop-filter: blur(2px);
}
li{
    float: left;

}
.navbar li:hover, .Info:hover .Infolink{
    background-color: rgba(0, 0, 0, 0.600);
    color:white;
    cursor: pointer;
}
.navbar a{
    display: inline-block;
    border:none;
    background-color:rgba(0, 0, 0, 0.200);
    padding: 4vh 2vw 4vh 2vw;
    font-size: 2vh;
    color:rgba(255, 255, 255, 0.800);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.options{
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.Info:hover .options {
    display:block;
}
.options a{
    display:block;

}