.box{
    display: flex;
    justify-content:center;
    
}

.navigation{
    position:fixed;
    top:2vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: fit-content;
    border: 2px black solid;
    border-radius: 100vh;
    z-index: 100;
    backdrop-filter: blur(2px);
}

.navigation button{
    border:none;
    background-color:rgba(0, 0, 0, 0.200);
    padding: 4vh 2vw 4vh 2vw;
    font-size: 2vh;
    color:rgba(255, 255, 255, 0.800);
}

.navigation button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.400);
    color: rgb(255, 255, 255);
}